<?xml version="1.0"?>
<!--
/**
 * @package   Maneza_Brandlogo
 * @author    Ntabethemba Ntshoza
 * @copyright Copyright (c) 2022 F8
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="Maneza_Brandlogo" setup_version="0.0.3">
        <sequence>
            <module name="Magento_Catalog"/>
        </sequence>
    </module>
</config>
